html 
  {
  background: url(../images/cover.jpg) no-repeat bottom center fixed;
  background-size: cover;
  height: 100%;
  }

body 
  {
  display: table;
  height: 100%; 
  margin: -3em auto 0 auto;
  }

section 
  {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  }

iframe 
  {
  background: url(../images/cover2.jpg) no-repeat center center;
  box-shadow: 0 0 40px 2px rgba(0,0,0,.1);
  }